################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/commerce/commerce/obj
/commerce/commerce/bin/Debug/net5.0
/commerce/.vs/commerce
