@model Foundation.Features.MarketingAndCampaigns.MyCompanyBuyQuantityGetItemDiscount

<h1>
    @Html.DisplayFor(m => m.Name)
</h1>
<h3>
    @Html.PropertyFor(m => m.Description)
</h3>
<p>
    @Html.PropertyFor(m => m.OtherInfo)
</p>